<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>聊天室</title>
    <link rel="stylesheet" type="text/css" href="css/chat.css" />
    <style>
        span {
            color: #999;
            margin-left: 10px;
        }
    </style>
</head>

<body class="keBody">
    <div id="app">
        <div class="kePublic">
            <!--效果html开始-->
            <div class="content">
                <div class="chatBox">
                    <div class="chatLeft">
                        <div class="chat01">
                            <div class="chat01_title">
                                <ul class="talkTo">
                                    <li>
                                        <a href="javascript:;">{{ messageList.username }}</a>
                                        <a @click="logout" href="javascript:;">退出</a>
                                    </li>
                                </ul>
                                <a class="close_btn" href="javascript:;"></a>
                            </div>
                            <div class="chat01_content" style="padding: 10px;" id="chat01_content">
                                <dl v-for="(v,k) in messageList" :key="k">
                                        <dt><strong>{{v.username}}</strong> 在 <time>{{ v.datetime }}</time> 说：</dt>
                                        <dd>{{ v.content }}</dd>
                                </dl>
                            </div>
                        </div>
                        <div class="chat02">
                            <div class="chat02_title">
                                <label class="chat02_title_t">
                                    <a target="_blank">聊天记录</a>
                                </label>
                                <div class="wl_faces_box">
                                    <div class="wl_faces_content">
                                        <div class="title">
                                            <ul>
                                                <li class="title_name">常用表情</li>
                                                <li class="wl_faces_close">
                                                    <span>&nbsp;</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="wl_faces_main">
                                            <ul>
                                                <li>
                                                    <a href="javascript:;">
                                                        <img src="img/emo_01.gif" />
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;">
                                                        <img src="img/emo_02.gif" />
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;">
                                                        <img src="img/emo_03.gif" />
                                                    </a>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                    <div class="wlf_icon">
                                    </div>
                                </div>
                            </div>
                            <div class="chat02_content">
                                <textarea id="textarea" v-model="content" placeholder="请输入内容按enter键快速发消息"></textarea>
                            </div>
                            <div class="chat02_bar">
                                <ul>
                                    <li style="left: 20px; top: 10px; padding-left: 30px;">
                                        apppws创建</li>
                                    <li style="right: 5px; top: 5px;">
                                        <img @click="send" src="img/send_btn.jpg" id="send_btn">
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="chatRight">
                        <div class="chat03">
                            <div class="chat03_title">
                                <label class="chat03_title_t">成员列表</label>
                            </div>
                            <div class="chat03_content">
                                <!-- <ul>

                                    <li class="choosed" v-for="(v,k) in userList">
                                        <label class="offline">
                                        </label>
                                        <a href="javascript:;">
                                            <img src="img/head/2015.jpg">
                                        </a>
                                        <a href="javascript:;" class="chat03_name">{{ v.username }}</a>
                                    </li>

                                </ul> -->
                                <select v-model="to">
                                    <option value="">发给所有用户</option>
                                    <option :value="k" v-for="(v,k) in userList">{{v}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div style="clear: both;">
                    </div>
                </div>
            </div>
            <!--效果html结束-->
            <!-- 登录表单 -->
            <div :class="{'login':true,'hide':layerHide}">
                <h1>登录</h1>
                <div><input v-model="username" type="text" placeholder="输入用户名"></div>
                <div><input v-model="password" type="password" placeholder="输入密码"></div>
                <div><input @click="dologin" type="button" value="登录"></div>
            </div>
            <!-- 登录时黑色背景层 -->
            <div :class="{'layer':true,'hide':layerHide}"></div>
        </div>
    </div>

</body>

</html>
<script src="./axios.min.js"></script>
<script src="./vue.min.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            messageList: [],  //消息列表
            userList: [],       // 在线用户列表  
            message: '',       // 消息框中的内容
            ws: null,           // websocket 对象
            layerHide: false,   // 是否隐藏登录框
            host: '127.0.0.1:8484',    // 服务器地址
            username: '',    // 当前用户名
            password: '',
            to: '',
            content: ''
        },
        methods: {
            // 登录
            dologin: function () {
                axios.post('http://localhost:9999/login.php', {
                    username: this.username,
                    password: this.password
                }).then(function (res) {
                    console.log(res.data);
                    if (res.data.code == 200) {
                        localStorage.setItem('jwt_token', res.data.jwt)
                        this.layerHide = true; // 隐藏登陆框
                        location.href = "index.html"
                    }
                    else {
                        alert(res.data.error)
                    }
                })

            },
            // 退出
            logout: function () {
                // 断开连接
                this.ws.close()
                localStorage.removeItem('jwt_token')
                location.href = "index.html"
            },
            // 发送消息
            send: function () {
                // 判断消息是发给谁的
                if (this.to == '') {
                    // 群发：
                    this.ws.send('all:' + this.content);
                } else {
                    // 发给莫个人
                    this.ws.send(this.to + ':' + this.content);
                }
                this.content = ''
            },
            open: function () {
                alert('连接成功');
            },
            // 收到消息时调用
            ws_message: function (e) {
                // 解析JSON
                let data = JSON.parse(e.data)
                // 根据消息的类型发处理消息
                if (data.type == 'users'){
                    this.userList = data.users
                }
                else{
                    this.message=data.ws_message
                }
                this.messageList.push(data) 
                    // console.log(this.messageList);               

            },
        },

        // 页面初始化
        created: function () {
            var token = localStorage.getItem('jwt_token')
            if (token == undefined)
                alert('请登录');
            else {
                this.layerHide = true; // 隐藏登陆框
                // 连接聊天服务器
                this.ws = new WebSocket('ws://127.0.0.1:8484?token=' + token)
                this.ws.onopen = this.open
                this.ws.onmessage = this.ws_message
                this.ws.onerror = this.error
            }
        },
    })

</script>